@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine');
body {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  background-image:url(https://s-media-cache-ak0.pinimg.com/originals/92/4c/cc/924cccc759117824a312fa1a48494f10.png);
}
h1 {
  font-size:150px;
  font-family: 'Tangerine', cursive;
  text-shadow: 12px 15px grey;
  margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
      margin-left: 0px;}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 26px;
}
h6 {
  font-size: 26px;
}
